@{
    ViewData["Title"] = "About Us";
}
<h1 style="align-content:center">@ViewData["Title"]</h1>

<div class="about-section2 container-1200">
    <h1 class="headingtext">
        We Help You Experience<br>
        <span class="bg-orange">Luxury &amp; Elegance</span>
    </h1>
    <p class="abouttext main-content">
        HeartyHomeDecor is synonymous to well-made decore items that brings alive the aesthetics of your home, giving it an elegant look and a luxurious feel. We aim to make a difference in the way people shop for their home decor needs. We believe choosing decors should be easy to acquire and pleasant to look at and this approach helps us stay unique in the industry.
        <span class="see-more"></span>
    </p><hr>
    <div class="container-1200 flex-box">
        <div class="left-box">
            <div class="headingtext">Warehouses &amp; Supply Chain</div>
            <p class="abouttext">
                Fully Centralized WMS systems across all our warehouses helps monitor all your orders closely so that none of them get delayed. Our well-equipped delivery centers ensure that all the products stay safe and untouched before they reach you. Well researched routes and ample delivery vehicles help us optimize the journey of your order to its best,
                making the finest decor items reach you ASAP.
            </p>
            <h3>Head Quarter</h3>
            <p>
                Hearty Home Decore Office<br /> 1323 Floyd Ave #TRLR 18B
                Rome, New York(NY), 13440 <br /> Contact : (123) 345-5678
            </p>
        </div>
    </div>
</div>